*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

nav{
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.logo img{
    height: 40px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu li{
    margin: 0 10px;
    list-style: none;
}

.menu li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu li a:hover{
    color: rgb(175, 255, 175);
}

.download{
    border: 1px solid red;
    border-radius: 20px;
    padding: 5px;
}

.download:hover{
    background-color: #5e5e5e;
}

.hero{
    background: url(https://wallpapers.com/images/hd/rick-sanchez-vdb0tbuem92zk0ej.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fade-in 1s ease-out;

}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



